*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-image: url("assets/bg_music.webp");
    background-size: cover;
}

.container
{
  
    /* grid-template-columns: 1fr 1fr; */

    height: 80vh;
    width: 30vw;
margin: auto;
margin-top: 5vmin;
    
}
.pt1
{
    background-image: url("assets/music.jpeg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80vw;
}
.pt2
{
    background: rgba(193, 150, 207, 0.4);
    box-shadow: 0px 0px 10px 2px rgb(187, 101, 207);
    padding: 1vmin;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d188e4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    color:white;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 3%;
    
}
button{
    border: none;
    outline: none;
    padding: 4%;
    width: 100%;
    background: #b469cd;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin: 0% 0% 2% 0%;
    margin-bottom: 4vmin;
}

#t1
{
    padding: 2%;
    color:rgb(0, 0, 0);
}
a{
    color:rgb(0, 0, 0); 
    font-weight: bold;
}

.heading{
    color: #e7b6f4;
    font-size: 12vh;
    margin-top: 5vmin;
}
